<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="footer-logo">
                    <img src="/user/images/logo.png" alt="CareZon Logo" class="img-fluid">
                </div>
                <div class="social-icons">
                    <a href="https://www.instagram.com/__.23_23.__?igsh=MW56aGUwOTRmOW9wcA==" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/__.23_23.__?igsh=MW56aGUwOTRmOW9wcA==" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/__.23_23.__?igsh=MW56aGUwOTRmOW9wcA==" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.instagram.com/__.23_23.__?igsh=MW56aGUwOTRmOW9wcA==" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/__.23_23.__?igsh=MW56aGUwOTRmOW9wcA==" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="footer-links">
                    <h5>Quick Links</h5>
                    <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/products/shop">Shop by Category</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        <li><a href="/prescription">Upload Prescription</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="footer-links">
                    <h5>Policies</h5>
                    <ul>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms & Conditions</a></li>
                        <li><a href="/returns">Return & Refund Policy</a></li>
                        <li><a href="/shipping">Shipping Policy</a></li>
                        <li><a href="/prescription-policy">Prescription Policy</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <div class="footer-links">
                    <h5>CONTACT US</h5>
                    <ul class="contact-info">
                        <li><i class="fas fa-phone"></i>Phone: +91-9048042970</li>
                        <li><i class="far fa-clock"></i>Working Hours: <br>Mon–Sat, 8 AM – 11:30 PM</li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i> Address: <br> CareZon Healthcare Pvt. Ltd.<br>
                            India, Kerala, Calicut<br>
                            HiLite Business park<br>
                            3nd Floor<br>
                            pin: 673602
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="copyright">
            <p>© 2025 CareZon. All rights reserved.</p>
        </div>
    </div>
</footer>